@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.slogan {
  font-family: 'Cookie', cursive;
  font-size: 45px;
}

.businessTitle {
  font-size: 50px;
}

hr {
  opacity: 1;
}

.image-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-image {
  width: 100%;
}

.header-container {
  position: relative;
}

/* .header-container:hover {
  cursor: pointer;
  opacity: 50%;
} */

@media (max-width: 767.98px) {
  .header-image {
    height: 300px;
  }
}

.contact-col {
  height: 88.5vh;
}

.home-image {
  max-height: 40rem;
}

@media (min-width: 768px) {
  .company-message {
    font-size: 1.5rem;
  }
  .slogan {
    font-size: 3rem;
  }

  .businessTitle {
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  .company-message {
    font-size: 1.5rem;
  }
  .slogan {
    font-size: 5rem;
  }

  .businessTitle {
    font-size: 6rem;
  }
}
