/* .carousel-item {
  height: 32rem;
}

@media (min-width: 768px) {
  .carousel-item {
    height: 40rem;
  }
}

@media (min-width: 1200px) {
  .carousel-item {
    height: 50rem;
  }
} */

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 40vh;
  overflow: hidden;
}
/*
@media (min-height: 1000px) {
  .carousel-item img {
    height: 50rem;
  }
} */
/* 
@media (min-height: 1200px) {
  .carousel-item {
    height: 50rem;
  }
} */

/* .overlay-image {
  position: absolute;
  background-position: center;
  background-size: cover;

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
} */

/* @media (min-width: 576px) {
  .carousel-item img {
    width: auto !important;
    height: 400px;
    max-height: 400px;
  }
} */
