.galleryBox:hover {
  cursor: pointer;
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 1);
}

.carousel-link {
  position: absolute;
  right: 15%;
  bottom: 50%;
  left: 15%;
  color: black;
  text-align: center;
}

.galleryImage {
  height: '35vw';
  min-height: 50%;
  object-fit: 'cover';
}
