@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cookie&display=swap');
body {
  margin: 0;
  font-family: 'Castoro Titling', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: black;
}

.btn-dark {
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
